.wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 0;
}
button {
    width:50px;
    height:30px;
    border: solid 1px lightgray;
    border-radius: 10px;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.orange {
    background-color: orange;
}

.display {
    width: 95%;
    height: 30px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    display: flex;
    align-items:center;
    overflow: hidden;
    flex-grow: 0;
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

